<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Plato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-searchbar placeholder="Buscar"  (ionChange)="buscar($event)"></ion-searchbar>

  <swiper-container [slidesPerView]="4.2" >
    <swiper-slide>

  <ion-card color="" *ngFor="let comida of arregloComida">

      <ion-card-header >
      <ion-card-title >{{comida.strMeal}}</ion-card-title>

      <ion-thumbnail>
        <img src="{{comida.strMealThumb}}" />
      </ion-thumbnail>


    </ion-card-header>
  </ion-card>
  </swiper-slide>
  </swiper-container>
</ion-content>
