ion-thumbnail {
  --size: 200px;
  --border-radius: 14px;
  margin: auto;
}
ion-card-title{
  text-align: center;
}
ion-label{
  text-align: center;
  font-size: 30px;
  justify-content: center;
}
a{
  margin-left: 20px;
}
