<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comidas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<swiper-container [slidesPerView]="4.2" >
  <swiper-slide *ngFor="let comida of arregloComida" >
  <ion-card color="warning"  >
  <ion-card-header >
    <ion-card-title >{{comida.strMeal}}</ion-card-title>
    <ion-thumbnail (click)="verInfoComida(comida.idMeal,comida.strMeal,comida.strInstructions)"[routerLink]="['/tabs/tab1/detalle', comida.idMeal]">
      <img src="{{comida.strMealThumb}}" />
    </ion-thumbnail>
  </ion-card-header>
</ion-card>
</swiper-slide>
</swiper-container>
<ion-label>Filtros por letra</ion-label>
<br>
<ion-label *ngFor="let letra of arregloLetra">
<a (click)="Filtro(letra)" [routerLink]="['/tabs/tab1/']" >{{letra}}</a>
</ion-label>

</ion-content>
